@import "../../styles/variables";

.btn {
  padding: 0.72em 0;
  width: 100%;
  border-radius: 6px;
  font-weight: 700;
}

.btnPrimary {
  font-size: 1.375em;
  color: $light;
  background-color: $accent;
  border: none;
}

.btnSecondary {
  font-size: 1.1em;
  text-decoration: underline;
  color: $text;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}