@import "./variables";

// ========================
// SCREEN
// ========================


// ========================
// PREVIEW
// ========================
@mixin pageInside($direction) {
  display: grid;
  direction: $direction;
  @media print {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 5.4cm);
    break-inside: avoid-page;
    overflow: hidden;
  }
  
  @media screen {
    height: 55vh;
    margin: 5% auto 10%;
    width: 40vh;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 20%);
    background-color: white;
  }

  @media screen and (min-width: 768px) {
    margin: 0% auto 10%;
    width: 40vh;
  }
}

@mixin card {
  display: flex;
  hyphens: auto;
  flex-direction: column;
  font-size: 11pt;
  text-align: center;

  @media screen {
    padding: 1.5rem;
  }
}

@mixin cardBody {
  flex-grow: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cardFooter {
  border: .5px dashed rgba(0,0,0, .1);
  flex-grow: 1;
  display: flex;
  align-items: flex-end;

  p {
    width: 90%;
    margin: auto;
    text-align: end;
  }
}