@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "./variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: $text;
  background-color: $body-bg;
}

.App {
  min-height: 100vh;
  padding: 0 calc((100vw - 100vh)/2.06);
}

a {
  text-decoration: none;
}