@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $bg-light;
  color: $text;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: $text;
}

textarea {
  font-family: 'Poppins', sans-serif;
}
