@import "../../styles/variables";

@media screen {
  .layoutWrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
  }

  .navbar {
    width: 95%;
    margin: auto;
    padding: .813rem 0 2.563rem 0;
    text-align: start;

    .logo {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 700;
      color: $text;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      
      a {
        font-size: 1rem;
        text-decoration: none;
        color: $text;

        &:hover {
          color: $accent;
        }
      }
    }
  }

  .mainContent {
    flex-grow: 1;
  }

  .footer {
    text-align: center;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .navbar {
    width: 100%;
    padding-left: 240px;
    padding-right: 240px;
  }
}