@import "../../styles/variables";

@media screen {
  .layoutWrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
  }

  .navbar {
    width: 100%;
    margin: auto;
    padding-top: 2vh;
    text-align: start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .logoContainer {
      display: flex;
      flex-flow: row nowrap;
      
      .logo {
        // width to manage the second line offset
        width: 16.1vh;
        padding-right: 1.3vh;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 65%;
        color: $text;
        text-decoration: none;
        border-right: 1px solid $text;
        
        display: flex;
        flex-flow: column nowrap;

        span:nth-of-type(2) {
          text-align: end;
        }
      }

      .slogan {
        margin-left: 1.6vh;
        font-size: 1rem; 
        font-weight: 300;
        color: $text-muted;

        display: flex;
        flex-flow: column nowrap;
        
        span {
          line-height: 101.2%;
          letter-spacing: .045em;
        }
      }
    }

    .menuContainer {
      button {
        background-color: transparent;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: underline;
        border: none;
      }
    }

    
  }

  .mainContent {
    flex-grow: 1;
  }

  .footer {
    text-align: center;
    padding: 1vh 0;
  }
}

// IPAD PRO (portrait) and TABLET (portrait)
@media screen 
and (max-width: 1024px) 
and (max-height: 1366px) 
and (orientation: portrait) {
  .navbar {
    .logoContainer {
      .logo {
        width: 14.5vh;
        padding-right: 1.3vh;
      }
      .slogan {
        margin-left: 1vh;
      }
    }
  }
}

// IPAD PRO (portrait)
@media screen 
and (min-width: 1024px) 
and (orientation: portrait) {
  .navbar {
    .logoContainer {
      .logo {
        width: 11.3vh;
      }
    }
  }
}

// IPAD PRO (landscape)
@media screen 
and (max-width: 1366px) 
and (max-height: 1024px) 
and (orientation: landscape) {
  .navbar {
    .logoContainer {
      .logo {
        width: 14.7vh;
      }
    }
  }
}

// TABLET (landscape)
@media screen 
and (max-width: 1024px) 
and (max-height: 768px) 
and (orientation: landscape) {
  .navbar {
    .logoContainer {
      .logo {
        width: 19vh;
      }
    }
  }
}