.cardList {

  ul {
    list-style-type: none;
  }

}

.columnHeading {
  height: 5.8vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

// TABLET
@media screen and (max-height:1024px) and (max-width: 768px) {
  .columnHeading {
    height: 4vh;
  }
}