@import "../../styles/variables";
@import "../../styles/mixins";

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  label {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }

  input,
  textarea {
    margin-bottom: 1.25em;
    padding: .75em 1em;
    font-size: 1.2rem;
    border: none;
    border-bottom: 3px solid #ccc;
  }

  input[type=submit] {
    @include button(true);
    background-color: $accent;
  }
}