@media print {
  html {
    height: 90%;
  }

  .pageInnerContainerFront {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5,5.4cm);
    break-inside: avoid-page;
    overflow: hidden;
  }
  
  .card {
    border: .5px dashed rgba(0,0,0, .1);
    display: flex;
    flex-direction: column;
    
    .cardBody {
      flex-grow: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardFooter {
      border: .5px dashed rgba(0,0,0, .1);
      flex-grow: 1;
      display: flex;
      align-items: flex-end;

      p {
        width: 90%;
        margin: auto;
        text-align: end;
      }
    }
  }

  .pageInnerContainerBack {
    margin: 0;
    padding: 0;
     display: grid;
     direction: rtl;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5,5.4cm);
    break-inside: avoid-page;
    overflow: hidden;
  }
  
  .card {
    border: .5px dashed rgba(0,0,0, .1);
    display: flex;
    flex-direction: column;
    .cardBody {
      flex-grow: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardFooter {
      border: .5px dashed rgba(0,0,0, .1);
      flex-grow: 1;
      display: flex;
      align-items: flex-end;

      p {
        width: 90%;
        margin: auto;
        text-align: end;
      }
    }
  }
}
