@import "../../../styles/variables";
@import "../../../styles/mixins";

@media print {
  .modalCloseBtn {
    display: none;
  }

  .noPrintContainer {
    display: none;
  }

  .cardBuilderContainer {
    margin: 0;
    padding: 0;
  }

  .cardItem {
    color: black;
  }
}

@media screen {

  // Main Section

  .cardBuilderContainer {
    @include container;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    color: $text-light;
    background-color: $primary-dark;

    .backLink {
      color: $text-light;
    }

    h1 {
      margin-bottom: 1.5em;
    }
  }

  .primaryBtn {
    @include button(false);
    color: $text-light;
    display: block;
    margin: auto;
    font-size: 1.2rem;
    padding: .5em 1em;
    margin-top: 2em
  }

  .cardBuilderForm {
    display: flex;
      flex-direction: column;
      padding: 0 2rem;

      label {
        font-size: 1.2rem;
      }

      .inputGroup {
        position: relative;
        margin-bottom: 1.25em;
      }

      input {
        width: 100%;
        padding: .75em 1em;
        font-size: 1.2rem;
        border: none;
        border-radius: 3px;
        position: relative;
      }

      .charCounter {
        position: absolute;
        bottom: 0;
        right: 5px;
        z-index: 2;
        color: $text-muted;
      }

      input[type=submit] {
        @include formButton
      }
  }

  .cardList {
    h2 {
      padding: 1em 0;
      margin-top: 1em;
    }
  }

  .cardItem {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: #0F2A4B;
    color: #222;

    display: flex;
    flex-direction: column;
  
    .cardFront {
    @include cardFace;
    }

    .cardBack {
      @include cardFace;
    
    }
  }

  // Preview Modal
  .previewContainer {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 5;

    background-color: rgba(0,0,0, .95);

    overflow: scroll;

    .modalCloseBtn {
      position: sticky;
      display: block;
      margin: 16px 16px 16px auto;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.5rem;
    }

  }
}
