@import "../../../styles/variables";
@import "../../../styles/mixins";

@media print {

  @page {
    size: A4;
    margin: 13.49mm 19.5mm 13.49mm 19.5mm;
  }

  .previewLayout {
    header, 
    button {
      display: none;
    }
  }

  .pageInnerContainerFront {
    @include pageInside(ltr)
  }
  
  .card {
    @include card;
        
    .cardBody {
      @include cardBody;

      position: relative;

      small {
        position: absolute;
        padding: .5rem 1rem;
        text-align: end;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #555;
      }
    }

    .withBorder {
      border: .5px dashed rgba(0,0,0, .1);
    }

    .cardFooter {
      @include cardFooter;
    }
  }

  .pageInnerContainerBack {
    @include pageInside(rtl)
  }
  
  .card {
    @include card;

    .cardBody {
      @include cardBody;
    }

    .cardFooter {
      @include cardFooter;
    }
  }
}