@import "../../../styles/variables";
@import "../../../styles/mixins";

@media screen {
  .previewLayout {
    padding: 0 5vw;
    color: #222;

    header {

      h1 {
        color: $text-light;
        margin-bottom: 0rem;
      }

      p {
        color: $text-light;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
    
    .pageContainer {
      height: 60vh;
      overflow: scroll;
    
      .preview {
      
        .pageInnerContainerFront{
          height: 55vh;
          display: grid;
          margin: 10% 5%;
          grid-template-columns: repeat(2, 50%);
          grid-template-rows: repeat(5, 20%);
          background-color: white;
        }
        
        .pageInnerContainerBack{
          height: 55vh;
          display: grid;
          margin: 10% 5%;
          grid-template-columns: repeat(2, 50%);
          grid-template-rows: repeat(5, 20%);
          direction: rtl;
          background-color: white;
        }
    
          .card {
          @include card;
    
          .cardBody {
            @include cardBody;
          }
    
          .cardFooter {
            @include cardFooter;
          }
        }
      }
    }

    button {
      margin-top: 1rem;
      padding: 1em 2em;
      background-color: white;
      border: none;
      border-radius: 4px;
      font-weight: 700;
    }
  }
}

@media print {
  html {
    height: 100%;
  }

  .previewLayout {
    header, 
    button {
      display: none;
    }
  }

  .pageInnerContainerFront {
    @include pageInside(ltr)
  }
  
  .card {
    @include card;
    
    .cardBody {
      @include cardBody;
    }

    .cardFooter {
      @include cardFooter;
    }
  }

  .pageInnerContainerBack {
    @include pageInside(rtl)
  }
  
  .card {
    @include card;

    .cardBody {
      @include cardBody;
    }

    .cardFooter {
      @include cardFooter;
    }
  }
}