@import "../../styles/mixins";

.heroSection {
  padding: 2rem 1rem;
  text-align: center;
  h1 {
    margin-bottom: 1em;
    font-size: 2.5rem;
    font-style: italic;
  }

  .subheading {
    font-size: 1.9rem;
    margin-bottom: 2em;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
  }
}

.primaryBtn {
  @include button(true);
}

.secondaryBtn {
  @include button(false)
}

.aboutContainer {
  @include container;
  position: relative;
  line-height: 2;
  text-align: center;

  h2 {
    margin-bottom: 1.2em;
  }

   p {
    margin-bottom: .75em;

    &:nth-of-type(2) {
      font-size: 1.5rem;
    }

    &:nth-last-of-type(1) {
      font-size: 1.5rem;
    }
  }
}

.contactContainer {
  @include container;
  margin-bottom: 0;
  text-align: center;
  background-color: $primary-dark;
  color: $text-light;
  h2 {
    margin-bottom: 1em;
  }
}