@import "../../styles/variables";
@import "../../styles/mixins";

.layout {
  display: grid;
  grid-template-rows: 85vh 85vh 75vh;

  h2 {
    text-align: center;
  }
}

.hero {
  padding: 5%;
  display: grid;
  grid-template-rows: 45% 20% auto;
  text-align: center;

  h1 {
    align-self: flex-end;
    font-size: 3.5rem;
  }

  .subheading {
    align-self: center;
    font-size: 2rem;
  }

  .btnContainer {
    align-self: flex-start;
    display: flex;
    flex-flow: column wrap;
    gap: 1%;
  }

}

.about {
  padding: 5%;
  display: grid;
  grid-template-rows: 30% auto;

  header {
    align-self: center;
  }

  p {
    line-height: 2;
  }
}

.contact {
  padding: 0 20%;
  display: grid;
  grid-template-rows: 30% auto;
  gap: 2%;
  background-color: $primary-dark;
  color: $text-light;
  header {
    align-self: center;
  }

  .formContainer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    h2 {
      text-align: start;
    }
  }
  
  .hero {
    padding: 0 10%;
    grid-template-rows: 45% 10% auto;
    text-align: start;

    .btnContainer {
      flex-flow: row wrap;
    }
  }

  .about {
    padding: 0 10%;
    max-width: 960px;
    margin: auto;
  }

  .contact {
    .formContainer {
      width: 90%;
      max-width: 560px;
    }
  }
}