@page {
  margin: 1.25cm 2cm 1.5cm 2cm;
}

@media print {
  .pageInnerContainer {
    display: grid;
    grid-template-columns: repeat(2, 8.5cm);
    grid-template-rows: repeat(5,5.4cm);
  }
  
  .card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    .cardBody {
      flex-grow: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cardFooter {
      border-top: 1px solid black;
      flex-grow: 1;
      display: flex;
      align-items: flex-end;

      p {
        width: 90%;
        margin: auto;
        text-align: end;
      }
    }
  }
}
