@import "../../../styles/variables";

.navbarContainer {
  padding: 1em 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;

   button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: none;
    font-size: 1.5rem;
  }

  .logoContainer {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    
    a {
      font-style: italic;
      color: $primary;
    }

  }

  .navbarMenu {
    list-style-type: none;
    width: 100%;

    li {
      padding: 1em 2em;
      border-bottom: 1px #ccc solid;
      text-align: center;
      font-weight: 700;

      &:hover {
        background-color: $bg-light;
      }
    }
  }
}

.footerContainer {
  padding: 1rem 0;
  text-align: center;
}

@media print {
  .navbarContainer {
    display: none;
  }

  .footerContainer {
    display: none;
  }
}